<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="container">
  <h2>Welcome to Twitter!</h2>
  <form method ="POST" action="{{ url_for('user_blueprint.post_tweet') }}">
    <div class="form-group">
      <label for="tweet">What is on your mind:</label>
      <textarea class="form-control" name = "tweet" id="tweet" placeholder="Say something!"></textarea>
      <br>
      <button type="submit" class="btn btn-primary">Tweet</button>
    </div>
  </form>

  <br>

      {% for tweet in tweets %}
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{tweet[1]}}</h5>
    <p class="card-text">{{tweet[2]}}</p>
     <i class="material-icons">comment</i>
  </div>
</div>
    {% endfor %}
</div>
</body>
</html>

